// *************************************
//
//   Layout helpers
//
// *************************************

// -------------------------------------
//   Mixins
// -------------------------------------

@mixin fixed() {
  position: fixed;
  z-index: 10;
}

// -------------------------------------
//   Extends
// -------------------------------------

%unstyled-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
