//-----------------------------------------------------------------------------
//
// Animation settings
//
//-----------------------------------------------------------------------------


// Durations ------------------------------------------------------------------

$base-fade-duration: 500ms;
$base-movement-duration: 800ms;


// Timing functions -----------------------------------------------------------

$base-fade-timing: ease-out;
$base-movement-timing: ease-in-out;
